@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --azul: #011d47;
  --azul-medio: #0a2d6e;
  --azul-claro: #e8ecf3;
  --offwhite: #f0ece8;
  --cinza: #666666;
  --cinza-claro: #e0ddd9;
  --preto: #1a1a1a;
}

body {
  background-color: var(--offwhite);
  color: var(--preto);
  font-family: 'Inter', sans-serif;
}